*{
    margin: 0;
    padding: 0;
    
}
.upper-block{
    width: 100%;
    background-color:#23232e;
    height: 44vw;
    padding-top: 4.2vw;
    box-sizing: border-box;
    -moz-box-sizing: border-box'
}
.upper-block img{
    display: block;
    width: 7vw;
    margin-left: auto;
    margin-right: auto;

}
.upper-block p:first-of-type{
 font-size: 4.2vw;

color: #ffffff;
font-family: "Segoe UI",sans-serif;
font-weight: bold;
text-align: center;
margin-top: 9.6vw;
}
.upper-block p:nth-of-type(2)
{font-size: 0.93vw;
    line-height: 1.5vw;
    color: #ffffff;
    font-family: "Segoe UI";
    text-align: center;
    margin-top: 3.1vw;
}
.upper-block img:nth-of-type(2){
    display: block;
    width: 2.3vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7.3vw;
}
.lower-block{ 
    padding-top: 6.4vw;
    background-image: url(/images/logo.png)
}

.lower-block p{
    font-size: 1.56vw;
line-height: 2.18vw;
color: #464b4f;
font-family: "Segoe UI";
text-align: center;
margin-left: 28.1vw;
margin-right: 28.1vw;
margin-bottom: 3.1vw;

}

.lower-block-title{
    font-size: 4.16vw;
color: #464b4f;
font-family: "Segoe UI";
font-weight: bold;
text-align: center;
}

.lower-block-list{
    margin-left: 25.2vw;
    margin-right: 25.5vw;
    margin-top: 3.9vw;
    font-size: 0;

}
.lower-block-coloumn{
    display: inline-block;
    width: 33%;
    font-size: 0.9vw;

}

.lower-block-ntext {
    font-size: 0.93vw;
    color: #464b4f;
    font-family: "Segoe UI";
    font-weight: bold;
}

.lower-block-text{
    font-size: 0.93vw;
    color: #888a8b;
    font-family: "Segoe UI";
}